
body {
	background-color: $body_color;
}

nav {
	background: transparent !important;
	ul a {
		color: #cfd8dc !important;
		font-size: 12px;
	}
	ul li .lateral {
		color: rgb(77, 182, 172) !important;
	}
}

.nav-scroll {
	background: $white_color !important;
	ul a {
		color: black !important;
	}
	ul .btn {
		color: $white_color !important;
	}
	.brand-logo {
		color: black !important;
	}
	@extend .z-depth-3;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: rgb(77, 182, 172) !important;
}

#sidenav-overlay {
	background-color: rgba(250, 250, 250, 0) !important;
	will-change: transparent !important;
}

.fa.uno {
	font-size: 80px;
}

.fa-th {
	color: rgb(233, 30, 99);
}

.fa-list {
	color: rgb(0, 188, 212);
}

.fa-bars {
	color: rgb(76, 175, 80);
}

.gris {
	color: $grey_color;
}

.title {
	font-weight: $negritas;
}

.caption {
	padding-top: 10%;
}

.btn-see-more {
	margin-top: 5%;
}

.cont-item {
	position: relative;
	top: 480px;
	width: 95%;
	margin-left: 2.5%;
	padding: 0 !important;
	@extend .z-depth-5;
}

.item {
	position: relative;
	top: 480px;
	background: $white_color;
	width: 95%;
	padding: 5% 3%;
	@extend .z-depth-5;
}

.item-uno {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 2;
}

.cont-item-dos {
	padding: 0;
	background: url(../../img/img_city.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.item-dos {
	background: rgba(0,0,0,.7);
	position: relative;
	top: 0;
	color: $white_color;
	padding-bottom: 2%;
	margin: 0;
	width: 100%;
	.who {
		padding-right: 5%;
	}
}

.video {
	border: 2px solid $white_color;
}

.item-tres {
	background: rgb(240, 240, 240);
}

.product {
	background: $white_color;
	position: relative;
	top: 25px;
	border: 6px solid rgb(240, 240, 240);
	padding: 3%;
	box-sizing: border-box;
	border-radius: 15px;
	.row.producto {
		margin-top: 5%;
		@media (min-width: 1px) and (max-width: 600px){
			height: 120vh;
		}
		@media (min-width: 601px) and (max-width: 991px){
			height: 110vh;
		}
		@media (min-width: 992px) and (max-width: 1400px){
			height: 85vh;
		}
	}
	img {
		width: 90%;
		border-radius: 10px;
		position: relative;
		top: -30px;
		@extend .z-depth-5;
	}
	div {
		position: relative;
		bottom: 1px;
		.product-footer {
			padding: 6%;
			div span {
				font-size: 200%;
			}
		}
	}
}

.item-cuatro {
	img {
		border-radius: 10px;
		margin: 2% 0;
		@extend .z-depth-4;
	}
	.cont-img {
		position: relative;
	}

	.text {
		display: none;
		padding-top: 20%;
		.like-btn span {
			border-radius: 10px;
			/*width: 38%;
			margin-left: 30%;*/
			padding: 6px 13px;
		}
		.pink {
			background: $pink_color;
		}
		.light-blue {
			background: $lightblue_color;
		}
		.red {
			background: $red_color;
		}
	}

	.overlay {
		position: absolute;
		top: 2.5%;
		bottom: 0;
		left: 0;
		right: 0;
		height: 93%;
		width: 100%;
		transition: .5s ease;
		background-color: transparent;
		border-radius: 10px;
	}

	.cont-img:hover .overlay {
		background-color: rgba(0,0,0,.5);
	}

	.cont-img:hover .overlay .text {
		height: 95%;
		width: 95%;
		display: block;
		color: $white_color;
		font-size: 10px;
		position: absolute;
		top: 5%;
		left: 5%;
	}
}

.item-cinco {
	padding-top: 1% !important;
	.row {
		margin: 5% 0;
	}
	img {
		border-radius: 10px;
		@extend .z-depth-5;
	}
	.btn.network {
		width: 4px !important;
		background: $white_color;
		color: black;
		box-shadow: none;
	}
	.fa-facebook {
		color: rgb(64, 96, 158);
	}
	.fa-google-plus {
		color: rgb(221, 75, 57);
	}
	.fa-twitter {
		color: rgb(85, 172, 238);
	}
	.fa-linkedin {
		color: rgb(34, 132, 187);
	}
	.fa-pinterest {
		color: rgb(204, 33, 39);
	}
	.fa-dribbble {
		color: rgb(235, 86, 143);
	}
	.fa-github-square {
		color: rgb(51, 51, 51);
	}
}

.item-seis {
	background: rgb(240, 240, 240);
	padding-bottom: 1% !important;
	.treasure {
		background: white;
		@extend .z-depth-5;
	}
	.row .col {
		padding: 4%;
	}
	.number {
		font-size: 300%;
		font-weight: 900;
	}
	.sign {
		top: -20px;
	}
	.strong-black {
		font-weight: $negritas;
		color: $black_color;
	}
}

.item-siete {
	.clients-img {
		width: 100px;
		@extend .z-depth-5;
	}
	.cont-info {
		padding-top: 8%;
	}
}

.cont-item-ocho {
	background: url(../../img/about.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.item-ocho {
	color: $white_color;
	padding: 6% 0;
	/*background: url(../../img/about.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;*/
	background: rgba(0,0,0,.7);
	position: relative;
	top: 0;
	width: 100%;

	.receive {
		margin: 5% 0;
	}
}

.item-nueve {
	img {
		border-radius: 5px;
		margin-top: 4%;
		@extend .z-depth-5;
	}
	.mi-margin {
		margin: 2% 0;
	}
	a {
		color: #bdbdbd ;
	}
	a:hover {
		color: rgb(77, 182, 172);
		transition: 0.5s;
	}
}

.item-diez {
	color: $white_color;
	background: url(../../img/img_city.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	.row.parraf {
		margin: 7% 0 10% 0;
	}
	.contact-us{
		background: rgb(77, 182, 172);
		color: $white_color;
		padding: 5%;
		width: 90%;
		border-radius: 3px;
		position: relative;
		top: -20px;
		@extend .z-depth-5;
	}
	.row.form {
		background: $white_color;
		color: $black_color;
		padding: 0 5%;
		border-radius: 7px;
	}
}

.item-once {
	background-color: rgb(50, 52, 55);
	padding-bottom: 1% !important;
	hr {
		color: $grey_color;
	}
	img {
		border-radius: 5px;
	}
	.link {
		margin: 0 2%;
	}
	a {
		color: $grey_color;
	}
	a:hover {
		color: rgb(77, 182, 172);
		transition: 0.4s;
	}
}
