
body {
	background-color: rgb(229, 229, 229);
}

nav {
	background: transparent !important;
	ul a {
		color: black !important;
	}
}

.fa {
	font-size: 100px !important;
}

.fa-th {
	color: rgb(233, 30, 99);
}

.fa-list {
	color: rgb(0, 188, 212);
}

.fa-bars {
	color: rgb(76, 175, 80);
}

.item {
	background: white;
}

.item-uno {
	padding: 5% 3%;
	width: 95%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 480px;
	z-index: 2;
}


