$white_color: white;
$grey_color: grey;
$black_color: black;
$pink_color: rgb(233, 30, 99);
$lightblue_color: rgb(50, 168, 217);
$red_color: rgb(204, 33, 39);
$body_color: rgb(229, 229, 229);
$negritas: bold;